export http_proxy="http://proxy-ams-1.cisco.com:80"
export https_proxy="http://proxy-ams-1.cisco.com:80"
export ftp_proxy="http://proxy.esl.cisco.com:8080/"
export no_proxy="localhost,127.0.0.1,.cisco.com,.uktme.cisco.com"
